<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ингредиент</title>
</head>
<body>

<h2>Ингредиент:</h2>

<form th:method="POST" th:action="@{/ingredients/{id}(id=${ingredient.getId()})}" th:object="${ingredient}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <input type="submit" value="Save!"/>
</form>

<a th:text="${source}"></a>

<form th:method="GET" th:action="@{/ingredients}">
    <input type="submit" value="Return"/>
</form>

</body>
</html>